<?xml version="1.0" encoding="utf-8"?>
<ConfigData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <configVersion>1</configVersion>
  <updateCheck>1722916275</updateCheck>
  <skipVersion>
    <Major>0</Major>
    <Minor>0</Minor>
  </skipVersion>
  <toolTips>true</toolTips>
  <avrdudeLoc />
  <avrdudeConfLoc />
  <avrSizeLoc />
  <windowLocation>
    <X>244</X>
    <Y>91</Y>
  </windowLocation>
  <language>english</language>
  <hiddenMCUs />
  <hiddenProgrammers />
  <previousSettings>
    <programmer>wiring</programmer>
    <mcu>m2560</mcu>
    <port>COM4</port>
    <baud>115200</baud>
    <bitclock />
    <flashFile>D:\Electrical Engineering (Data Kuliah Ahul)\embedded system\project_pengerus_obat\firmware\megaatmega2560\sys-v1-1.0.0-atmega2560-firmware.hex</flashFile>
    <flashFormat>a</flashFormat>
    <flashOp>w</flashOp>
    <EEPROMFile />
    <EEPROMFormat>a</EEPROMFormat>
    <EEPROMOp>w</EEPROMOp>
    <force>false</force>
    <disableVerify>false</disableVerify>
    <disableFlashErase>true</disableFlashErase>
    <eraseFlashAndEEPROM>false</eraseFlashAndEEPROM>
    <doNotWrite>false</doNotWrite>
    <lfuse />
    <hfuse />
    <efuse />
    <setFuses>false</setFuses>
    <lockBits />
    <setLock>false</setLock>
    <additional />
    <verbosity>0</verbosity>
    <name />
  </previousSettings>
  <usePreviousSettings>true</usePreviousSettings>
  <windowSize>
    <Width>962</Width>
    <Height>647</Height>
  </windowSize>
  <checkForUpdates>true</checkForUpdates>
</ConfigData>